.main-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffff;
   
}
.article-heading{
    padding: 2rem;
}
.article-heading h1{
    font-size: 40px;
    font-family: var(--font-family);
    color: darksalmon;
}
button{
    padding: 1rem;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid rgb(250, 247, 247);
    color: #ffff;
    cursor: pointer;
}
@media screen and (max-width: 1050px){
    .main-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffff;
   
}
}
  