.cta-main{
    width: 80%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(334deg, rgba(255, 255, 0, 1) 1%, rgba(238, 130, 238, 1) 74%);
    padding-top: 2rem;
    margin: auto;
}
.cta-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cta-text p{
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font-family);
}
.cta-text h2{
    font-size: 30px;
    font-weight: 500;
    font-family: var(--font-family);
}
.cta-btn button{
    background-color: black;
    border-radius: 40px;
    border: none;
    padding: 0.5rem 1rem;
    font-family: var(--font-family);
    color: #fff;
    margin-bottom: 2rem;
    line-height: 30px;
    cursor: pointer;
    font-size: 18px;
}
@media screen and (max-width: 1250px){
    .cta-main{
        flex-direction: column;
       padding: 2rem;
    }
    .cta-text{
        justify-content: center;
        text-align: center;
    }
}