.gpt3__features-container__features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}

.gpt3__features-container__features-tittle{
    flex: 1;
    max-width: 100px;
    margin-right: 2rem;
}
.gpt3__features-container__features-tittle h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size:  18px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #33c07e;
}
.gpt3__features-container__features-tittle div{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0.25rem;
}
 
.gpt3__features-container__features-text{
   flex:  2;
   max-width: 200px;
   display: flex;
}
.gpt3__features-container__features-text p{
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-text);
    font-family: var(--font-family);
}
@media screen and (max-width: 650px){
    .gpt3__features-container__features{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    }
    .gpt3__features-container__features-tittle{
        flex: 1;
        max-width: 100%;
        margin-right: 2rem;
       align-items: center;
    }
    
    .gpt3__features-container__features-text{
        align-items: center;
     }
}